
@using Shopping_Application.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailView</title>
</head>
<body>
    <div class="jumbotron">
        <h2>@ViewBag.product.Titel</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/Images/@ViewBag.product.Photo" width="200" />
        </div>
        <div class="col-md-8">
            
        </div>
    </div>
</body>
</html>
