
 @using netzkern.MyBookstore.UI.Web.Mvc.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignInView</title>
</head>
<body>
    <table class="table table-hover">
        <tr class="table-warning">
            <td>
                <h3 align="center"><b>Anmelden</b></h3>
            </td>
        </tr>
    </table>
    <br />
    <div align="center">
        <p class="card-text">Ich hab bereits ein Konto: </p>
        <a href="@Url.Action("LogIn", "SignIn")">
            <button type="button" class="btn btn-outline-warning btn-sm">
                Einloggen
            </button>
        </a>
        <br />
        <br />
        <p class="card-text">Ich bin neu hier:</p>
        <a href="@Url.Action("Register", "SignIn")">
            <button type="button" class="btn btn-outline-warning btn-sm">
                Registrieren
            </button>
        </a>
    </div>
</body>
</html>
