
@{
    ViewBag.Title = "Startseite";
}

@using netzkern.MyBookstore.Model
@model netzkern.MyBookstore.UI.Web.Mvc.ViewModels.HomeViewModel

<div class="jumbotron">
    @Html.Partial("_BestsellerBook", Model.BestsellerBook)
</div>

<div class="row">
    <br>
    <h2>Weitere Empfehlungen</h2>
</div>
<div class="row">
    @Html.Partial("_RelatedBookSet", Model.RelatedBookSet)
</div>