
<!--Web page "Contact"-->

@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Katharina Rabanus<br />
    Lischkestr. 8<br />
</address>

<address>
    <strong>Support & Marketing:</strong>   <a href="rabanuskatharina@gmail.com">rabanuskatharina@gmail.com</a>
</address>